<h2 mat-dialog-title>Abfrage {{data.edit ? 'bearbeiten' : 'hinzufügen'}}</h2>
<mat-dialog-content>
    @if (projections && fetching === 0 && fields) {
        <app-query-editor
            [fields]="fields"
            [projections]="projections"
            [sortings]="sortings"
            [query]="data.query"
        ></app-query-editor>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Abbrechen</button>
    <button *ngIf="data.edit" class="delete-button" mat-button (click)="deleteQuery()">Löschen</button>
    <button mat-button (click)="saveQuery()">Speichern</button>
</mat-dialog-actions>
