<h2 mat-dialog-title>Abfrage {{data.edit ? 'bearbeiten' : 'hinzufügen'}}</h2>
<mat-dialog-content>
    @if (projections && sortings && condition && fetching === 0 && fields) {
        <app-query-editor
            [fields]="fields"
            [projections]="projections"
            [sortings]="sortings"
            [condition]="condition"
            [query]="data.query"
        ></app-query-editor>
    }
    @if (fetching > 0) {
        <app-spinner spinnerLayout="dialog"></app-spinner>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Abbrechen</button>
    <button *ngIf="data.edit" class="delete-button" mat-button (click)="deleteQuery()">Löschen</button>
    <button
        mat-button
        (click)="saveQuery()"
        [disabled]="!sortings || !projections || sortings.length <= 0 || projections.length <= 0 || !data.query.name"
    >Speichern</button>
</mat-dialog-actions>
