.search-box {
    margin-top: 12px;
}

.member {
    padding: 8px;

    &:nth-child(2n) {
        background-color: #f2f2f2;
    }

    mat-icon  {
        margin-right: 12px;
        width: 24px;
    }

    mat-icon,
    .member-name,
    button {
        vertical-align: middle;
    }

    .member-name {
        display: inline-block;
        width: calc((100% - 12px - 24px - 94px - 16px) * 0.6);
    }

    .existing-family {
        display: inline-block;
        width: calc((100% - 12px - 24px - 94px - 16px) * 0.4);
    }

    button {
        width: 94px;
    }
}
