mat-dialog-content {
    padding: 0 !important;
}

.member-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 50px);
    grid-column-gap: 12px;
    padding: 0 24px;
    background:
        repeating-linear-gradient(#d0edff 0 50px, #aee1ff 50px 100px);
}

.member-field {
    height: 40px;
    padding: 5px;
}

.field-name {
    display: block;
    font-weight: bold;

    &::after {
        content: ':'
    }
}
