<h2 mat-dialog-title>Mitglied {{data.edit ? 'bearbeiten' : 'hinzufügen'}}</h2>
<mat-dialog-content>
    <div class="member-form">
        @for (field of fields; track field.id) {
            <mat-form-field>
                <mat-label>{{field.display_name}}</mat-label>
                @switch (field.type) {
                    @case (FieldType.NUMBER) {
                        <input type="number" matInput [(ngModel)]="data.member.data[field.name]">
                    }
                    @case (FieldType.EMAIL) {
                        <input type="email" matInput [(ngModel)]="data.member.data[field.name]">
                    }
                    @case (FieldType.SELECT) {
                        <mat-select [(ngModel)]="data.member.data[field.name]">
                            @for (option of field.data.options | keyvalue; track option) {
                                <mat-option [value]="option.key">{{option.value}}</mat-option>
                            }
                        </mat-select>
                    }
                    @case (FieldType.MULTI_SELECT) {
                        <mat-select [(ngModel)]="data.member.data[field.name]" multiple>
                            @for (option of field.data.options | keyvalue; track option) {
                                <mat-option [value]="option.key">{{option.value}}</mat-option>
                            }
                        </mat-select>
                    }
                    @case (FieldType.PHONE_NUMBER) {
                        <input type="tel" matInput [(ngModel)]="data.member.data[field.name]">
                    }
                    @case (FieldType.BOOLEAN) {
                        <mat-select [(ngModel)]="data.member.data[field.name]">
                            <mat-option [value]="true">Ja</mat-option>
                            <mat-option [value]="false">Nein</mat-option>
                        </mat-select>
                    }
                    @case (FieldType.DATE) {
                        <input type="date" matInput [(ngModel)]="data.member.data[field.name]">
                    }
                    @default {
                        <input matInput [(ngModel)]="data.member.data[field.name]">
                    }
                }
            </mat-form-field>
        }
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data.member">Speichern</button>
</mat-dialog-actions>
