<div class="nav" id="nav">
  <button class="btn btn-nav" id="btn-nav-msg">
    <i class="fas fa-comment-alt icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Mitteilungen</span>
  </button>
  <button class="btn btn-nav" id="btn-nav-pins">
    <i class="fas fa-thumbtack icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Pinwand</span>
  </button>
  <!-- <button class="btn btn-nav" id="btn-nav-settings">
      <i class="fas fa-cog icon-nav"></i>
      <span class="nav-label">Einstellungen</span>
  </button> -->
  <button class="btn btn-nav" id="btn-nav-table">
    <i class="fas fa-th-list icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Mitgliedertabelle</span>
  </button>
  <button class="btn btn-nav" id="btn-nav-user">
    <i class="fas fa-users-cog icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Benutzer</span>
  </button>
  <button class="btn btn-nav" id="btn-nav-setup">
    <i class="fas fa-cogs icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Konfiguration</span>
  </button>
  <button class="btn btn-nav" id="btn-nav-addons">
    <i class="fas fa-puzzle-piece icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Erweiterungen</span>
  </button>
  <button class="btn btn-nav btn-nav-bottom btn-nav-bottom-2" id="btn-nav-settings">
    <i class="fas fa-cog icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Einstellungen</span>
  </button>
  <button class="btn btn-nav btn-nav-bottom btn-nav-bottom-1" id="btn-nav-logout">
    <i class="fas fa-arrow-circle-right icon-nav" aria-hidden="true"></i>
    <span class="nav-label">Abmelden</span>
  </button>
</div>
