:host {
    background-color: #333;
    color: white;
    position: fixed;
    padding: 0;
    height: auto;
    left: 0;
    top: 152px;
    bottom: 0;
    transition: 0.5s;
    width: 70px;
    z-index: 2;

    .btn-nav {
        background-color: #333;
        color: white;
        transition: 0.5s;
        border-radius: 0;
        width: 100%;
        padding: 5px;
        margin: 0;
        box-shadow: none;
        height: 60px;

        &:hover,
        &:focus {
            color: var(--main-color);
            background-color: #444;
        }

        span {
            width: 0;
            overflow: hidden;
            transition: 0.5s;
            display: inline-block;
            text-align: left;
            font-size: 16px;
            margin-left: 0;
            margin-bottom: -4px;
        }

        mat-icon {
            width: 30px;
        }

        mat-icon,
        span {
            vertical-align: middle;
            display: inline-block;
        }
    }

    .btn-nav-bottom {
        position: absolute;
        left: 0;
    }

    .btn-nav-bottom-1 {
        bottom: 10px;
    }

    .btn-nav-bottom-2 {
        bottom: 70px;
    }

    &:hover {
        width: 300px;

        .btn-nav span {
            width: 150px;
            margin-left: 10px;
        }
    }
}
