.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/images/background_litvinov.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    position: absolute;
    width: 90%;
    margin: 5%;
}

.content,
.banner {
    position: absolute;
    border-radius: 40px;
    padding: 30px 5%;
    width: 37%;
    box-shadow: -2px 2px 25px black;
    transition: 1s;
    margin-top: 0;
}

.banner {
    left: 5%;
    top: 120px;
    background-color: #333;
    color: white;
    z-index: 0;
}

.content {
    right: 5%;
    top: 70px;
    background-color: white;
    height: 400px;
    padding: 50px 5%;
    z-index: 1;
}

.banner:hover {
    left: 3%;
    width: 38%;
    font-size: 17px;
    top: 115px;
}

.btn-login {
    float: right;
}

.login-title {
    font-size: 45px;
    font-weight: bolder;
    display: block;
    color: var(--main-color);
}

.login-subtitle {
    font-size: 20px;
}

.login-letter {
    font-size: 22px;
}

ul {
    color: var(--main-color);
}

li {
    color: white;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    filter: brightness(1.5);
}

.center .banner {
    left: 27%;
}

.center .content {
    width: 40%;
    right: 25%;
}

.login-msg {
    margin-bottom: 10px;
    border-left: solid 4px var(--main-color);
    display: block;
    overflow: hidden;
    height: 0px;
    padding: 0px 10px;
    transition: 0.3s;
}

mat-form-field {
    width: 100%;
}

@media (max-width: 800px) {
    .banner {
        display: none;
    }

    .content {
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 90%;
        max-width: 400px;
    }
}
