<table class="table" *ngIf="users">
    <tr>
        <th>Benutzername</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>E-Mail-Adresse</th>
        <th>Rolle</th>
        <th>Aktiviert?</th>
        <th>Temp. Passwort?</th>
        <th>Logins</th>
        <th>&nbsp;</th>
    </tr>
    @for (user of users; track user.id) {
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.active}}</td>
            <td>{{user.temp_password}}</td>
            <td>{{user.logins}}</td>
            <td><button mat-button (click)="changePassword(user.username)">Passwort ändern</button> </td>
        </tr>
    }
</table>
