mat-progress-bar {
    position: absolute;
}

.main-table {
    mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    th {
        cursor: pointer;
        white-space: nowrap;

        mat-icon {
            color: white;
            display: inline-block;
        }

        .underline {
            text-decoration: underline;
        }
    }
}

.edit-mode,
.field-edit-mode {
    input[type=text],
    input[type=number],
    input[type=date],
    input[type=password],
    input[type=tel],
    input[type=email],
    select {
        font-size: 15px;
        background-color: transparent;
        border: none;
        width: auto;
        color: var(--main-color);
    }
}

td {
    user-select: none;
}

.dirty {
    color: darkorange;
}

.field-edit-mode {
    color: var(--main-color);
    user-select: text;

    .family {
        color: gray;
    }
}

.attest-red {
    color: red;
}

.attest-orange {
    color: orange;
}

/*
input[type=text],
input[type=number],
input[type=date],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--main-color);
    filter: brightness(0.9);
    font-size: 16px;
    border-bottom: solid 2px var(--main-color);;
}

input[type=submit] {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.edit-add-row input[type=text],
.edit-add-row input[type=number],
.edit-add-row input[type=date],
.edit-add-row input[type=password],
.edit-add-row select {
    border-bottom: solid 2px var(--main-color);;
}

input[type=submit]:hover {
    background-color: var(--main-color);
}
*/
