<div class="tabs">
    <div class="title">tMat<sup>e</sup></div>

    <span class="tab-user-info" *ngIf="currentUser">Nutzer: <b>{{currentUser.username}}</b></span>

    <div class="tab-buttons">
        <button class="btn btn-tab {{currentTab === TabName.START   ? 'btn-tab-active' : ''}}"
                (click)="switchTab(TabName.START)">Start
        </button>
        @if (currentTab === TabName.EDIT) {
            <button class="btn btn-tab {{currentTab === TabName.EDIT ? 'btn-tab-active' : ''}}"
                    *appHasPermission="['member_admin', 2]"
                    (click)="switchTab(TabName.EDIT)">Bearbeiten
            </button>
        }
        <button class="btn btn-tab {{currentTab === TabName.MEMBERS ? 'btn-tab-active' : ''}}"
                (click)="switchTab(TabName.MEMBERS)">Mitglieder
        </button>
        <button class="btn btn-tab {{currentTab === TabName.FORMS ? 'btn-tab-active' : ''}}"
                *appHasPermission="['form_management']"
                (click)="switchTab(TabName.FORMS)">Formulare
        </button>
        <button class="btn btn-tab {{currentTab === TabName.QUERIES ? 'btn-tab-active' : ''}}"
                (click)="switchTab(TabName.QUERIES)">Abfragen
        </button>
        <button *appHasPermission="['course_management']" class="btn btn-tab {{currentTab === TabName.COURSES ? 'btn-tab-active' : ''}}"
                (click)="switchTab(TabName.COURSES)">Kurse
        </button>
        <button class="btn btn-tab {{currentTab === TabName.EXPORT  ? 'btn-tab-active' : ''}}"
                (click)="switchTab(TabName.EXPORT)">Export
        </button>
    </div>
</div>

<div class="tools" id="tools">
    @switch (currentTab) {
        @case (TabName.START) {
            <app-toolbar-button label="Suchen" icon="search" (btn_click)="onStartSearch()"></app-toolbar-button>
            <app-toolbar-button label="Neu laden" icon="refresh" (btn_click)="onStartRefresh()"></app-toolbar-button>

            @for (query of queries; track query.id) {
                <app-toolbar-button
                    class="query-{{query.owner_user_id === NilObjectId ? 'all' : 'mine'}}"
                    icon="format_list_bulleted"
                    [batchIcon]="query.owner_user_id === NilObjectId ? 'public' : ''"
                    batchTitle="Globale Abfrage"
                    [label]="query.name"
                    (btn_click)="onStartQuery(query)"
                ></app-toolbar-button>
            }
        }
        @case (TabName.EDIT) {
            <!--app-toolbar-button label="Bearbeiten aktivieren" icon="edit" (btn_click)="onEditEdit()"></app-toolbar-button>
            <app-toolbar-button label="Abbrechen" icon="clear" (btn_click)="onEditCancel()"></app-toolbar-button-->
            @if (dirty) {
                <app-toolbar-button label="Zurücksetzen" icon="restore" (btn_click)="onEditReset()"></app-toolbar-button>
                <app-toolbar-button label="Änderungen übernehmen" icon="save" (btn_click)="onEditSave()"></app-toolbar-button>
            } @else {
                <app-toolbar-button label="Hilfe 'Bearbeiten'" icon="help" (btn_click)="onEditEdit()"></app-toolbar-button>
            }
        }
        @case (TabName.MEMBERS) {
            <app-toolbar-button label="Eintrag anzeigen" icon="person" (btn_click)="onMemberViewClick()" [disabled]="selectedMembers?.length !== 1"></app-toolbar-button>
            <app-toolbar-button label="Bearbeiten" *appHasPermission="['member_admin', 2]" icon="edit" (btn_click)="onMemberEditClick()" [disabled]="selectedMembers?.length !== 1"></app-toolbar-button>
            <app-toolbar-button label="Löschen" *appHasPermission="['member_admin', 3]" icon="delete" [disabled]="true"></app-toolbar-button>
            <app-toolbar-divider></app-toolbar-divider>
            <app-toolbar-button label="Hinzufügen" *appHasPermission="['member_admin', 2]" icon="add" (btn_click)="onMemberAddClick()"></app-toolbar-button>
            @for (form of forms; track form.id) {
                @if (form.special_form !== 'default') {
                    <app-toolbar-button label="{{form.name}}" *appHasPermission="['member_admin', 2]" icon="person_add" (btn_click)="onFormOpen(form)"></app-toolbar-button>
                }
            }
            <app-toolbar-divider></app-toolbar-divider>
            <app-toolbar-button label="Hilfe 'Bearbeiten'" icon="help" (btn_click)="onEditEdit()"></app-toolbar-button>
            <!--app-toolbar-button label="Tabelle importieren" icon="table_chart" [disabled]="true"></app-toolbar-button-->
        }
        @case (TabName.FORMS) {
            <app-toolbar-button label="Formular erstellen" icon="playlist_add" (btn_click)="onFormsCreateForm()"></app-toolbar-button>
            @for (form of forms; track form.id) {
                <app-toolbar-button
                    label="{{form.name}}"
                    icon="edit_note"
                    (btn_click)="onFormEditClick(form)"
                    [batchIcon]="form.special_form === 'default' ? 'public' : (form.special_form === 'course' ? 'class': '')"
                    [batchTitle]="form.special_form === 'default' ? 'Standardformular' : (form.special_form === 'course' ? 'Kursformular': '')"
                    batchTitle="Spezielles Formular"
                ></app-toolbar-button>
            }
        }
        @case (TabName.QUERIES) {
            <app-toolbar-button label="Abfrage erstellen" icon="add" (btn_click)="onQueryAddClick()"></app-toolbar-button>

            @for (query of queries; track query.id) {
                @if (query.owner_user_id === NilObjectId) {
                    <app-toolbar-button *appHasPermission="['query_management']" label="'{{query.name}}' bearbeiten" icon="edit" (btn_click)="onQueryEditClick(query)"></app-toolbar-button>
                } @else {
                    <app-toolbar-button label="'{{query.name}}' bearbeiten" icon="edit" (btn_click)="onQueryEditClick(query)"></app-toolbar-button>
                }
            }
        }
        @case (TabName.COURSES) {
            <app-toolbar-button label="Kursliste" icon="class" (btn_click)="onCourseListClick()"></app-toolbar-button>
            <app-toolbar-button label="Zu Kurs hinzufügen" icon="play_lesson" (btn_click)="onCourseAddClick()"></app-toolbar-button>
        }
        @case (TabName.EXPORT) {
            <!--        <button class="btn btn-tool inactive" id="btn-tool-export-csv-all"><i class="btn-tool-icon fas fa-file-csv"></i>CSV alle Einträge</button>-->
            <!--        <button class="btn btn-tool inactive" id="btn-tool-export-csv-this"><i class="btn-tool-icon fas fa-file-csv"></i>CSV aktuelle Abfrage</button>-->
            <!--        <button class="btn btn-tool inactive" id="btn-tool-export-excel-all"><i class="btn-tool-icon fas fa-file-excel"></i>Excel alle Einträge</button>-->
            <app-toolbar-button label="Excel aktuelle Abfrage" icon="file_download" (btn_click)="onExportCurrentExcel()"></app-toolbar-button>
            <app-toolbar-button label="Serien-Mail" icon="mail" (btn_click)="onExportSerialMailClick()"></app-toolbar-button>
            <!--        <button class="btn btn-tool inactive" id="btn-tool-export-mail-all"><i class="btn-tool-icon fas fa-envelope"></i>Serienmail @alle</button>-->
            <!--        <button class="btn btn-tool inactive" id="btn-tool-export-mail-this"><i class="btn-tool-icon fas fa-envelope"></i>Serienmail @diese Abfrage</button>-->
        }
    }

</div>
